.NavigationItems {
    margin-right: 50px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

.Dropdown {
    background-color: red;
    padding: 20px;
    position: absolute;
    display: flex;
    width: 300px;

}